@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

$dark : (#181818);
$darker : (#121212);
$l-purple: (#e5ddff);
$d-purple: (#5a4f7c);

@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

html { 
    height: 100%;
    font-size: 100%; 
}

::selection {
    color: $darker;
    background: #e5ddff;
}

body {
    font-family: 'Montserrat', sans-serif;    
    background-color: $darker;
    color: white;
    text-align: center;
}

svg {
    margin-top: 10%;
    width: 30em;
    margin-right: 1vw;
}

.st0{fill:#090909;}
.st1{fill:#40375c;}
.blok{fill:#40375c;}

.blok {
    animation: blokjes 6s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    cursor: pointer;
}

.blok:hover {
    fill: white;
}

.blokS {
    animation: blokjes 6s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes blokjes {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width:800px) {
    .svg,
    .lijn {
        width: 50%;
    }
    #quick-links, 
    #onder-con {
        font-size: 1rem;
    }
    #quick-link {
        font-size: 0.8rem;
    }
}


#onder-con {
    color: #e5ddff;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

hr {
    border-color: #5a4f7c;
    width: 50em;
}

.quick-links {
    h1 {
        color: #e5ddff;
        font-size: 1.8rem;
        margin-top: 2rem;
    }
    .link-box div{
        list-style: square;
        color: #5a4f7c;
        @include flex-center(column);
        
    }
    .link-box div a{
        text-decoration: none;
        color: #e5ddff;
    }    
    .link-box div a:hover{
        color: white;
    }
}