@media only screen and (max-width: 600px) {
    .box{
      margin-top: 15px;
      width: 300px;
    }
    .link-box p {
      width: 280px;
    }
  }

  @media only screen and (min-height: 800px) {
    .footer-basic {
      position: absolute;
      bottom: 0;
      padding-top: 50px;
    }
  }